name: CI

on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "dev", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # auth 모듈 빌드 (테스트 제외)
      - name: Build & test auth
        working-directory: ./auth
        run: |
          chmod +x gradlew
           ./gradlew clean build --no-daemon

      # user 모듈 빌드 + 테스트 실행
      - name: Build & test user
        working-directory: ./user
        run: |
          chmod +x gradlew
          ./gradlew clean build --no-daemon
